
#header {
	background: scroll 0 0 #fff;
	height:105px;
}

#header .contWidth {
	position: relative;
	height: 105px;
	width: 990px;
	margin: 0 auto;
	z-index: 100;
}

#header .logo {
	float: left;
	margin:0 0 0 10px;
	color: #fff;
	line-height: 80px;
}

#header .logo img {
	height: 70px;
	display: block;
}

#header .search {
	position: absolute;
	left: 198px;
	top: 20px;
}

#inputSearch {
	color: #888;
	border: 1px solid #babebf;
	font-size: 14px;
	height: 17px;
	widows: 200px;
	padding: 3px 6px 5px 6px;
}

#inputSearch .focus {
	border: 1px solid #00a5ff;
}

#skin {
	float: right;
	margin: 10px;
	padding: 4px;
	width: 120px;
}

#skin li {
	margin-right: 4px;
	width: 15px;
	height: 15px;
	overflow: hidden;
	display: block;
	cursor:pointer;
	float: left;
	text-indent: -9999px;
	border-radius: 4px;
}

#skin_0 {
	background-color: #f00;
}

#skin_1 {
	background-color: #0f0;
}

#skin_2 {
	background-color: #00f;
}

#skin_3 {
	background-color: #F9AF2A;
}

#skin_4 {
	background-color: #37C7D4;
}

#skin_5 {
	background-color: #f0f;
}

#skin .selected {
	background-image: url(../images/selected.png);
	background-size: 70% 70%;
	background-repeat: no-repeat;
	background-position: center;
}


.mainNav {
	position: absolute;
	top: 68px;
	left: 0;
	height: 37px;
	line-height: 37px;
	width: 990px;
	z-index: 100;
	background: #4a4a4a;
}

.mainNav .nav {
	display: inline;
	float: left;
	margin-left: 25px;
}

.mainNav ul li {
	float: left;
	display: inline;
	margin-right: 14px;
	position: relative;
	z-index: 100;
}

.mainNav ul li a {
	display: block;
	padding: 0 8px;
	font-weight: 700;
	color: #fff;
	font-size: 14px;
}

.jnNav {
	background: #ffffff;
	border: 1px solid #b1b1b1;
	border-top: 0;
	overflow: hidden;
	position: absolute;
	top: 37px;
	left: 0;
	width: 474px;
	z-index: 100;
	display: none;
}

.jnNav .subitem {
	float: left;
	height: auto !important;
	min-height: 100px;
	padding: 10px 12px;
	width: 450px;
}

.jnNav .subitem dl{
	border-top: 1px solid #c4c4c4;
	overflow: hidden;
	padding: 8px 0;
	float: left;
}

.jnNav .subitem dt {
	float: left;
	font-weight: bold;
	line-height: 16px;
	padding: 4px 3px;
	text-align: center;
	width: 76px;
}

.jnNav .subitem dd {
	float: left;
	overflow: hidden;
	padding: 0;
	width: 364px;
}

.jnNav .subitem dt a {
	color: #000;
}

.subitem .fore em {
	float: left;
}

.subitem .fore dd a{
	border-right: 1px solid #ccc;
	color: #444;
	font-size:12px;
	height: 18px;
	line-height: 18px;
	font-weight: normal;
	margin: 5px auto;
}

.subitem .fore dd a:hover{
	color: #008cd7;
	text-decoration: none;
}

#content {
	clear: left;
	margin: 0 auto;
	position: relative;
	width: 990px;
}

.janeshop {
	height: 560px;
	overflow: hidden;
	padding: 10px 0;
}

#jnCatalog {
	float: left;
	height: 560px;
	margin: 0 11px 0 0;
	overflow: hidden;
	width: 187px;
}

#jnCatalog h2 {
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	text-indent: 13px;
	background-color: #6e6e6e;
}

.jnCatainfo {
	border: 1px solid #6e6e6e;
	border-style: none solid solid;
	border-width: 0 1px 1px;
	height: 524px;
	overflow: hidden;
	padding: 5px 10px 0;
	width: 165px;
}

.jnCatainfo h3 {
	border-bottom: 1px solid #eee;
	height: 24px;
	line-height: 24px;
	width: 164px;
}

.jnCatainfo ul{
	 float: left;
	 padding: 0 2px 8px;
}

.jnCatainfo li {
	color: #aeadae;
	float: left;
	height: 24px;
	line-height: 24px;
	width: 79px;
	overflow: hidden;
	position: relative;
}

.jnCatainfo li a {
	color: #444;
}

.jnCatainfo li a:hover {
	color: #008cd7;
	text-decoration: none;
}

.jnCatainfo li a.promoted {
	color: #f9044e;
}

.jnCatainfo li .hot {
	background: url("../images/hot.gif") no-repeat scroll 0 0 transparent;
	height: 16px;
	position: absolute;
	top: 0;
	width: 21px;	
}

#jnImageroll {
	float: left;
	height: 320px;
	margin: 0 11px 0 0;
	overflow: hidden;
	position: relative;
	width: 550px;
}

#jnImageroll img {
	position: absolute;
	left: 0;
	top: 0;
}

#jnImageroll div{
	bottom: 0;
	overflow: hidden;
	position: absolute;
	float: left;
}

#jnImageroll div a {
	background-color: #444;
	color: #fff;
	display: inline-block;
	float: left;
	height: 32px;
	margin-right: 1px;
	overflow: hidden;
	padding: 5px 15px;
	text-align: center;
	width: 79px;
	text-decoration: none;
}

#jnImageroll div a em {
	cursor: pointer;
	display: block;
	height: 16px;
	overflow: hidden;
	width: 79px;
}

#jnImageroll .last {
	margin: 0;
	width: 80px;
}

#jnImageroll a.chos {
	background: url("../images/adindex.gif") no-repeat center 39px #37a7d7;
	color: #fff;
}

#jnNotice {
	float: left;
	height: 321px;
	overflow: hidden;
	width: 230px;
}

#jnMiaosha {
	float: left;
	height: 176px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 230px;
}

.JS_css3 img {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

.JS_css3 img:hover {
	-webkit-transform: rotate(720deg,);
	-moz-transform: rotate(720deg);
	transform: rotate(720deg);
}

#jnNoticeInfo {
	float: left;
	border: 1px solid #dfdfdf;
	height: 133px;
	overflow: hidden;
	width: 228px;
}

#jnNoticeInfo h2 {
	height: 23px;
	line-height: 23px;
	border-bottom: 1px solid #dfdfdf;
	text-indent: 12px;
}

#jnNoticeInfo ul {
	float: left;
	padding: 6px 2px 0 12px;
}

#jnNoticeInfo li {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

#jnNoticeInfo li a {
	color: #666;
}

#jnNoticeInfo li a:hover {
	color: #008cd7;
	text-decoration: none;
}

#tooltip {
	position: absolute;
	border: 1px solid #333;
	background: #f7f5d1;
	padding: 1px;
	color: #333;
	display: none;
}

#jnBrand {
	float: left;
	height: 230px;
	margin: 10px 0 0 0;
	overflow: hidden;
	width: 790px;
}

#jnBrandTab {
	border-bottom: 1px solid #e4e4e4;
	height: 29px;
	position: relative;
	width: 790px;
	float: left;
}

#jnBrandTab h2 {
	height: 29px;
	line-height: 29px;
	left: 0;
	position: absolute;
	width: 100px;
}

#jnBrandTab ul {
	position: absolute;
	right: 0;
	top: 10px;
}

#jnBrandTab li {
	float: left;
	margin: 0 10px 0 0;
}

#jnBrandTab li a {
	background: #e4e4e4;
	color: #000;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
}

#jnBrandTab .chos {
	background: url("../images/chos.gif") no-repeat scroll 50% bottom transparent;
	padding-bottom: 3px;
}

#jnBrandTab .chos a {
	background-color: #fa5889;
	color: #fff;
	outline: 0 none;
}

#jnBrandContent {
	float: left;
	height: 188px;
	overflow: hidden;
	margin: 8px 5px;
	width: 780px;
	position: relative;
}

#jnBrandList {
	position: absolute;
	left: 0;
	top: 0;
	width: 3200px;
}

#jnBrandContent li {
	float: left;
	height: 188px;
	overflow: hidden;
	padding: 0 5px;
	position: relative;
	width: 185px;
}

#jnBrandContent li img {
	left: 5px;
	position: absolute;
	top: 0;
}

#jnBrandContent li span {
	background-color: #efefef;
	bottom: 0;
	color: #666;
	display: block;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	width: 183px;
}

#jnBrandContent li a {
	color: #666;
}

#jnBrandContent li a:hover {
	color: #008cd7;
	text-decoration: none;
}

.imgMask {
	background: #fff;
	cursor: pointer;
	filter:alpha(opacity=0);	
	opacity: 0;
}

.imgOver {
	background: url("../images/zoom.gif") no-repeat 50% 50% #fff;
	filter: alpha(opcity=60);
	opacity: 0.6;
}

/*商品详情页detail*/
#jnProitem {
	float: left;
	width: 312px;
	height: 560px;
	display: inline;
}

#jnDetails {
	float:left;
	display: inline;
	overflow: hidden;
	width: 468px;
}

#jnProitem .jqzoomWrap {
	border: 1px solid #bbb;
	cursor: pointer;
	float: left;
	padding: 0;
	position: relative;
}

#jnProitem span {
	clear: both;
	display: block;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	width: 320px;
}

#jnProitem ul.imgList {
	height: 80px;
}

#jnProitem ul.imgList li {
	float: left;
	margin-right: 10px;
}

#jnProitem ul.imgList li img {
	width: 60px;
	height: 60px;
	padding: 1px;
	background: #eee;
	cursor: pointer;
}

#jnProitem ul.imgList li img:hover {
	padding: 1px;
	background: #999;
}

.tab {
	clear: both;
	float: left;
	height: 230px;
	overflow: hidden;
	width: 310px;
}

.tab .tab_menu {
	clear: both;
}

.tab .tab_menu li {
	float: left;
	text-align: center;
	cursor: pointer;
	list-style: none;
	padding: 1px 6px;
	margin-right: 4px;
	background: #f1f1f1;
	border: 1px solid #898989;
	border-bottom: none;
}

.tab .tab_menu li.hover {
	background: #dfdfdf;
}

.tab .tab_menu li.selected {
	color: #fff;
	background: #6d84b4;
}

.tab .tab_box {
	clear: both;
	border: 1px solid #898989;
}

.tab .hide {
	display: none;
}

#jnDetails {
	float: left;
	display: inline;
	overflow: hidden;
	width: 468px;
}

#jnDetails .jnProDetail {
	padding: 0 10px 10px 10px;
}

#jnDetails .jnProDetailList li {
	line-height: 25px;
	float: left;
	width: 100%;
}

#jnDetails .jnProDetailList strong.del {
	color: #404040;
	font-size: 12px;
	position: static;
	text-decoration: line-through;
}

#jnDetails .jnProDetailList strong {
	font-weight: 400;
}

#jnDetails .jnProDetailList .tbDetailPrice strong {
	font-weight: 700;
	color: #f50;
	font: 24px Tahoma, Arial, Helvetica, sans-serif;
	padding-right: 5px;
	vertical-align: middle;
}

#jnDetails .jnProDetailList .color_change li , #jnDetails .jnProDetailList .pro_size li {
	float: left;
	margin-right: 10px;
	width: 40px;
}

#jnDetails .jnProDetailList .color_change img {
	width: 30px;
	height: 30px;
	padding: 1px;
	background: #eee;
	border: 1px solid #bbb;
	cursor: pointer;
}

#jnDetails .jnProDetailList .color_change img:hover,#jnDetails .jnProDetailList .color_change img.hover {
	border: 1px solid #f60;
}

#jnDetails .jnProDetailList .pro_size li {
	display: block;
	margin-right: 6px;
	border: 1px solid #aaa;
	cursor: pointer;
	width: 30px;
	line-height: 30px;
	overflow: hidden;
	text-align: center;
}

#jnDetails .jnProDetailList .pro_size li.cur {
	border: 1px solid #aaa;
	background-color: #f60;
}

/*rating css*/
.rating {
	overflow: hidden;
	width: 80px;
	height: 16px;
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	clear: both;
	position: relative;
	background: url("../images/star-matrix.gif") no-repeat 0 0 ;
}

.nostar {
	background-position: 0 0;
}
.onestar {
	background-position: 0 -16px;
}

.twostar {
	background-position: 0 -32px;
}

.threestar {
	background-position: 0 -48px;
}

.fourstar {
	background-position: 0 -64px;
}

.fivestar {
	background-position: 0 -80px;
}

ul.rating li {
	cursor: pointer;
	float: left;
	text-indent: -999em;
}

ul.rating li a {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	text-decoration: none;
	z-index: 200;
}

ul.rating li.one a {left:0;}
ul.rating li.two a {left: 16px;}
ul.rating li.three a {left: 32px;}
ul.rating li.four a {left: 48px;}
ul.rating li.five a {left: 64px;}
ul.rating li a:hover {
	z-index: 2;
	width: 80px;
	height: 16px;
	overflow: hidden;
	left: 0;
	background: url("../images/star-matrix.gif") no-repeat 0 0;
}
ul.rating li.one a:hover {background-position: 0 -96px;}
ul.rating li.two a:hover {background-position: 0 -112px;}
ul.rating li.three a:hover {background-position: 0 -128px;}
ul.rating li.four a:hover {background-position: 0 -144px;}
ul.rating li.five a:hover {background-position: 0 -160px;}

/*footer*/
#footer {
	margin: 0 auto;
	width: 990px;
	color: #666;
	padding: 18px 0;
	text-align: center;
}

/*tooltip*/
#tooltip {
	position: absolute;
	border: 1px solid #333;
	background: #f7f5d1;
	padding: 1px;
	color: #333;
	display: none;
}



/* jquery zoom */
.zoomPad{
	position:relative;
	float:left;
	z-index:99;
	cursor:crosshair;
	font-size: 0;
}
.zoomPreload{
   -moz-opacity:0.8;
   opacity: 0.8;
   filter: alpha(opacity = 80);
   color: #333;
   font-size: 12px;
   font-family: Tahoma;
   text-decoration: none;
   border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
   text-align:center;
   background-image: url(../images/zoomloader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
   z-index:110;
   width:90px;
   height:43px;
   position:absolute;
   top:0px;
   left:0px;
    * width:100px;
    * height:49px;
}
.zoomPup{
	overflow:hidden;
	background-color: #FFF;
	-moz-opacity:0.6;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index:120;
	position:absolute;
	border:1px solid #CCC;
	z-index:101;
	cursor:crosshair;
}
.zoomOverlay{
	position:absolute;
	left:0px;
	top:0px;
	background:#FFF;
	/*opacity:0.5;*/
	z-index:5000;
	width:100%;
	height:100%;
	display:none;
    z-index:101;
}
.zoomWindow{
	position:absolute;
	left:110%;
	top:40px;
	background:#FFF;
	z-index:6000;
	height:auto;
  z-index:10000;
  z-index:110;
}
.zoomWrapper{
	position:relative;
	border:1px solid #999;
  z-index:110;
}
.zoomWrapperTitle{
	display:block;
	background:#999;
	color:#FFF;
	height:18px;
	line-height:18px;
	width:100%;
  overflow:hidden;
	text-align:center;
	font-size:12px;
  position:absolute;
  top:0px;
  left:0px;
  z-index:120;
  -moz-opacity:0.6;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
.zoomWrapperImage{
	display:block;
  position:relative;
  overflow:hidden;
  z-index:110;

}
.zoomWrapperImage img{
  border:0px;
  display:block;
  position:absolute;
  z-index:101;
}
.zoomIframe{
  z-index: -1;
  filter:alpha(opacity=0);
  -moz-opacity: 0.80;
  opacity: 0.80;
  position:absolute;
  display:block;
}
